* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background: black;
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo {
    color: white;
    font-size: 30px;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav__link {
    color: white;
    list-style: none;
    font-size: 18px;
    transition: .2s;
}

.nav__link--activo {
    color: aqua;
}

.nav__link--activo:hover {
    color: red;
    cursor: pointer;
    font-size: 20px;
}